.nav-tabs {
  margin-top: 20px;
}

div.main_content {
  margin-bottom: 20px;
  margin-left: 20px;
}

#logoframe {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 5px;
  padding-right: 10px;
  background-color: white;
  z-index: -100;
  height: 50px;
}

#logoframe img {
  height: 100%;
  vertical-align: bottom;
}

#footer {
  background: #fff;
  position: fixed;
  bottom: 0;
  border-top: 1px solid black;
  box-sizing: border-box;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
  font-style: italic;
  width: 100%;
  z-index: 101;
}

.left {
  float: left;
  position: relative;
}

.right {
  float: right;
  position: relative;
  right: 30px;
}

.vmhostname {
  font-family: monospace;
  font-size: 115%;
}

/* tabs */
#tabs {
  margin-top: 25px;
}

.main_content {
  overflow: auto;
  padding-bottom: 100px;
}

.tabsLite-mainDiv ul {
  margin: 0;
  padding: 0;
}

.tabsLite-tab {
  list-style-type: none;
  display: inline;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 10px 5px 10px;
  border: solid 2px #CCC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #E6E6E6;
  font-size: 140%;
  cursor: pointer;
}

.tabsLite-tab-selected {
  background-color: #F6F6F6;
  border-bottom: solid 2px #F6F6F6;;
}

.tabsLite-tab a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.tabsLite-panel {
  /*background-color: #F6F6F6;*/
  padding: 10px;
  margin-top: 5px;
  border-top: solid 2px #CCC;
}

thead#vmlist th {
  border-bottom: thin solid black;
}

img {
  border: 0px;
  vertical-align: middle;
}

div.cluetip-outer {
  z-index: 100;
}

div.cluetip-inner img {
  max-width: 480px;
}

thead {
  background-color: white;
}

thead th {
  cursor: pointer;
}

div.DTTT_container {
  float: left;
}

.search span.indent {
  padding-right: 3px;
}

.search div.indent {
  padding-left: 48px;
}

#tools_title {
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px 10px 3px 10px;
  font-family: Sans-Serif;
  background: black;
  color: white;
}

#new_vm_success_title {
  display: none;
}

.message {
  display: block;
  border-radius: 5px;
  border: 1px solid;
  color: #fff;
  padding: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  margin-bottom: 10px;
}

.info {
  background-color: #65b0d3;
  border-color: #529cbe;
}

.error {
  background-color: #df6464;
  border-color: #b95858;
}

.success {
  background-color: #7ebe5c;
  border-color: #6a9751;
}

.vm_action_panel {
  float: right;
  padding: 5px;
}

#waiting {
  display: block;
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 100; /* always on top */
}

#waiting > img {
  position: absolute;
  top: 50%;
  bottom: 50%;
}

/* button */
.button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  /*
  font-family:Arial;
  font-size:12px;
   */
  font-weight: bold;
  padding: 6px 16px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #dfdfdf;
}

.button:active {
  position: relative;
  top: 1px;
}

.button_image {
  height: 20px;
  vertical-align: top;
}

/* This imageless css button was generated by CSSButtonGenerator.com */

.stop_icon {
  padding-left: 5px;
}

.red {
  background-color: orangered;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: greenyellow;
}

.inactive {
  display: none;
}

.network_ {
	color: grey;
}

.network_Network {
	color: #0B0B61;
}

.network_DistributedVirtualPortgroup {
	color: #21610B;
}


div.remoteTooltip {
  z-index: 100;
  position: absolute;
  display: block;
  border: solid 1px;
  background-color: darkred;
}

div.remoteTooltip pre {
  padding-bottom: 45px;
  z-index: 100;
  background-color: white;
}

.pagination {
  cursor: hand;
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
  display: block;
}

div.pagination-container {
  width: 100%;
  align-items: center;
}

div.pagination-container2 {
   margin-left: auto;
   margin-right: auto;
   width: 548px;
}

.pagination > li {
  display: inline
}

.pagination > li > a, .pagination > li > span {

  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color: #eee
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd
}

.pagination-lg > li > a, .pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px
}

.pagination-sm > li > a, .pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}
