
<div class="main_content" id="host_overview" data-ng-controller="HostOverviewController" ng-disabled="isServerRequestRunning">
  <table id="hostlist_table" border="1" cellpadding="3" cellspacing="0">
    <thead id="hostlist">
     <tr valign ="top">
       <th title="Click to sort">Name</th>
       <th title="Click to sort">State</th>
       <th title ="Click to sort">CPU (GHz)</th>
       <th title ="Click to sort">MEM (GB)</th>
       <th title ="Click to sort">Fairness</th>
       <th title ="Click to sort">Networks</th>
       <th title ="Click to sort">Datastores</th>
       <th title ="Click to sort">Hardware</th>
       <th title ="Click to sort">Product</th>
     </tr>
   </thead>
   <tbody>
    <tr data-ng-repeat="host in hosts" id="{{host.id}}">
      <td title="{{host.id}}
      {{host.path}}">{{host.name}}</td>
      <td class="{{host.overallStatus}}"><span ng-class="{inactive: host.active == 0}">OK</span></td>
      <td>{{host.cpuUsage}}</td>
      <td>{{host.memoryUsage}}</td>
      <td>{{host.fairness}}</td>
      <td>
        <div style="font-size: 60%" class="network_{{type}}" data-ng-repeat="(name,type) in host.network_name_type">
          {{name}}
        </div>
      </td>
      <td>
        <div style="font-size: 60%"  data-ng-repeat="datastore in host.datastores">
          {{datastore}}
        </div>
      </td>
      <td>{{host.hardware}}</td>
      <td>{{host.product}}</td>
    </tr>

  </tbody>
</table>
</div>
