<div class="main_content" id="vm_overview" data-ng-controller="VmOverviewController"
     xmlns="http://www.w3.org/1999/html">
  <div id="dialog"></div>
  <div class="error message" id="vm_action_error">
    <h3>Problems while performing action</h3>
    <p>The following error occured: <b id="vm_action_error_message"></b></p>
  </div>
  <form id="vm_action_form" ng-disabled="isServerRequestRunning">
    <table class="table table-striped" id="vmlist_table" cellpadding="3" cellspacing="0">

      <!-- TODO VM_OVERVIEW-->
      <thead id="vmlist">
       <tr valign ="top">

         <th ng-repeat="header in tableHeaders" title ="Click to sort" data-ng-click="changeSorting(header.name)">
           {{header.title}}
           <img src="images/sort_both.png" />
         </th>

       </tr>
     </thead>
        Suche: <input type="text" data-ng-model="table_filter"/>
        Ergebnis: <span data-ng-bind="filteredData.length"></span>
        von <span data-ng-bind="vms.length"/></span>
     <tbody>
      <tr id="{{vm.uuid}}" data-ng-repeat="vm in filteredData | orderBy:sort.column:sort.descending">
        <td>
          <input  ng-disabled="isServerRequestRunning" type="checkbox" ng-model="vm.selected" value="{{vm.uuid}}">
          <a href="vmdata.pl/{{vm.uuid}}" title="Details" onclick ="return false;" rel="vmdata.pl/{{vm.uuid}}" class="tip vmhostname">
            {{vm.fullname}}
          </a>
          <a data-ng-show="vm.screenshot_enabled" href="{{vm.screenshot_url}}" title="Screenshot" onclick ="return false;" rel="{{vm.screenshot_url}}" class="tip">
            <img src ="images/console_icon.png"/>
          </a>
          <a data-ng-show="vm.extra_link_enabled" href="{{vm.extra_link_url}}" title="Additional Info" rel="{{vm.extra_link_url}}" target="_blank">
            {{vm.extra_link_text}}
          </a>
        </td>
        <td>{{vm.vm_path}}</td>
        <td>{{vm.contact_id}}</td>
        <td>{{vm.expires}}<img class="stop_icon" data-ng-show="vm.date_bad" src="images/stop.png"/></td>
        <td>{{vm.esxhost}}</td>
      </tr>
    </tbody>
  </table>
  <div class="vm_action_panel">
    <a ng-click="detonate()" ng-disabled="{{detonateDisabled}}" class="button" title="Reinstall selected machines"><img src="images/bomb.png" class="button_image"/>&nbsp;Detonate</a>
    <a id="destroy_button"   ng-disabled="{{destroyDisabled}}"  class="button confirm" title="Delete the selected machine(s) physically" rel="Really delete the selected machines physically?"><img src="images/delete.png" class="button_image"/>&nbsp;Delete</a>
  </div>
</form>
</div>
